.message-wrapper
  .wrapper__main__body__chat
    %p.wrapper__main__body__chat__comment__name
      KuriY
    %p.wrapper__main__body__chat__comment__time
      2019/05/15(Wed) 22:50:59
      %p.wrapper__main__body__chat__comment__text
        aaaa
    .image-a