$white: #FFFFFF;
$liteBlue: #38AEF0;
$darkBlue: #434A54;
$silverGray: #999999;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$alert_orange: #F35500;
$light_gray: #999999;
$light_blue: #38AEF0;
$black: #253141;